{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

.cabeçario-1{
    
    background-color: #f4bd9f;
    color: #FBF3f0;
    
}
.cabeçario-pricipal{
    width: 17%;

}
.cabeçario-2{
    background-color: #000a9ba9;
    color: #000116;
    display: flex;
    justify-content: space-around;
    padding: 26px 0;
    font-size: 24px;


}
.intem{
    margin: 0 16px;
    display: inline-block

}
.vindas-css{
    background-color: #fffefe;
    padding: 52px 0;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.vindas-div{
    width: 60%;
}
.titulolagal{
    padding: 24px 0;
}

.lala-lu{
    width: 60%;
}
.começo{
    background-color: #FBF3f0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.rodape{
    background-color: #a0c0a9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodape-img{
    width: 10%;
    
}










@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #fffefe;
    --verde: #f0d0fd;
    --branco: #000000;
    --botao-ativo: #b330ce;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgb(96, 9, 104);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}


.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    color: var(--verde);
}


.botao {
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botoes {
    display: block;
}

.botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}

.abas-textos{
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
.aba-conteudo.ativo{
    display:block;
}

.aba-conteudo{
    display: none;
}

.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--verde);
    text-transform: uppercase;
}

.contador{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contador-digito{
    padding: 0 16px;
    text-align: center;
    min-width: 100px;
}

.contador-digito-numero{
    font-size: 80px;
    margin: 0;

}

.contador-digito-texto{
    color: var(--verde);
    font-size: 20px;
    margin: 0;

}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
    }}